body {
  height: 100vh;
  width: 100%;
  background: whitesmoke;
  background-image: url("../img/bg_contour.png");
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

#app {
  background: rgba(0, 0, 0, 0.3);
  display: table;
  width: 100%;
  height: 100%; }

#footer, #header {
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 2px;
  background: #666; }

#header {
  color: black;
  background-color: whitesmoke;
  padding: 0.5rem;
  padding-left: 0.875rem; }

#header_menu {
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding-left: 0.875rem; }
  #header_menu a {
    color: black;
    transition: 0.3s; }
    #header_menu a:hover {
      color: whitesmoke; }

#alert_list {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: yellow;
  cursor: pointer;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.7); }
  #alert_list:hover, #alert_list:active, #alert_list:focus {
    padding-top: 0.25em;
    box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.7); }

#alert_contain {
  padding: 0.75em;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  display: none; }

#state-form {
  margin: 0.75em 0 0.75em 0; }

.page-row {
  display: table-row;
  min-height: 1px; }
  .page-row .container {
    height: 100%; }

.page-row-expanded {
  height: 100%; }

hr.delimiter {
  height: 1px;
  background-color: black; }

p.state {
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-family: "tech", monospace; }

img.logo {
  height: 2.5rem; }

.statusbar {
  width: 100%;
  margin-bottom: 1rem; }

div.base-info {
  padding-left: 1px;
  padding-right: 1px; }

div.circle {
  color: black;
  border-radius: 50%;
  padding: 0.75rem; }

.color-changer option {
  padding-left: 2rem;
  padding-right: 2rem; }

.confirm-state {
  margin-bottom: -1.4rem;
  border: 1px solid black; }

.title-sm {
  font-size: 1.5rem;
  padding: 0.675rem;
  margin-top: -0.875rem; }

.progress-stage {
  flex-direction: column;
  width: 8rem; }

.stage-inner {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: whitesmoke; }

.inner {
  height: 100%;
  padding: 0;
  margin: 0 !important; }

.inblock {
  height: 100%;
  padding: 0.25rem; }

.col-header {
  width: 100%;
  margin: 0 !important;
  padding: 0.5rem;
  color: whitesmoke;
  background: #5c5c5c !important;
  border-bottom: 1px solid lightgreen; }
  .col-header p {
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase; }
    .col-header p i {
      text-align: center;
      margin: auto;
      width: 2.5rem;
      padding: 0.2rem;
      padding-right: 0.875rem; }

.accordion {
  margin-right: 0.25rem;
  margin-left: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #5c5c5c;
  background: #5c5c5c; }
  .accordion:first-child {
    margin-top: 1rem; }
  .accordion:last-child {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem; }

.dev_li {
  background: whitesmoke;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 !important;
  border-bottom: 1px solid grey;
  color: black;
  font-weight: 400;
  width: 100%;
  min-height: 2rem; }

.dev_c_icon {
  width: 2rem;
  margin: 0.5rem; }

.status-on {
  color: green; }

.status-off {
  color: red; }

.message_msg {
  bottom: 0; }

#log_wrapper {
  margin-top: 1rem;
  margin-left: 0.25rem;
  background: rgba(0, 0, 0, 0.5);
  color: lightgreen;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }

#message_log {
  height: 82vh;
  border-top: 1px solid white;
  overflow-y: scroll;
  scrollbar-color: lightgreen grey;
  scrollbar-width: thin;
  padding: 0.5rem;
  padding-bottom: 1rem; }

.message_msg {
  font-family: monospace;
  text-transform: lowercase;
  font-size: 0.875rem; }

.err-cont {
  margin-top: -15%; }

.err-header {
  font-size: 10rem; }

.err-sub {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: lowercase; }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

/*# sourceMappingURL=style.css.map */
