{% if not context.state or context.value.value < 0 %}
  <div class="level-item">
    <p class="has-text-danger title">MISSING STATES OR VALUE - CHECK DATABASE</p>
  </div>
{% else %}
  <form
      class="level"
      id="form-alert"
      action="{% url 'update-alert' %}"
      method="post"
      novalidate>
  {% csrf_token %}
    <div class="level-item">
      <p class='header-state-label'>УРОВЕНЬ ТРЕВОГИ</p>
    </div>
    <div class="level-item">
      <input title="Числовое значение уровня тревоги"
             class="level-item input details-input"
             name="value"
             type="number"
             maxlength="3"
             placeholder="{{ context.value.value }}"
             value="{{ context.value.value }}"
             style="width: 5rem;"
      >
    </div>
    <div class="level-item">
      <p class='header-state-label'>СТАТУС БАЗЫ</p>
    </div>
    <div class="level-item">
      <select name="name" class="color-state-input">
        {% for s in context.state %}
        <option value="{{ s.name }}"
                style="background-color: {{ s.bg_color }};
                       color: {{ s.fg_color }}"
                title="{{ s.descr }}"
                {% if s.current %}
                selected="selected"
                {% endif %}> {{ s.name }} </option>
        {% endfor %}
      </select>
    </div>
    <div class="level-item">
      <input class="button details-button is-danger is-small has-text-black"
             type="submit"
             value="Подтвердить">
    </div>
  </form>
  <script>
        $(document).ready(function () {
            var $myForm = $('#form-alert');
            var $thisURL = $myForm.attr('action');

            $myForm.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize();
                console.log($formData);
                handleAjaxPost($thisURL, $formData);
            });

            function handleAjaxPost(url, data) {
                $.ajax({
                    method: "POST",
                    url: url,
                    data: data,
                    success: handleSuccess,
                    error: handleError
                })
            }

            function handleSuccess() {
              console.log('success');
            }

            function handleError() {
              console.log('error');
            }
        });
  </script>
{% endif %}
