<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet"
          href="{% static 'css/bulma.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

    <!-- TODO: move fontawesome locally -->

    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
  
    <script type="text/javascript"
            src="{% static 'js/jquery.js' %}"></script>
  
    <script type="text/javascript"
            src="{% static 'js/jquery.modal.min.js' %}"></script>
  
    <script type="text/javascript"
            src="{% static 'js/accordion.js' %}"></script>
  
    <script type="text/javascript"
            src="{% static 'js/main.js' %}"></script>
  
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="app">
  <section class="page-row">
    {% include 'header.html' %}
  </section>
  <section class="page-row page-row-expanded">
    {% block content %}
    {% endblock %}
  </section>
  <section class="page-row">
    {% include 'footer.html' %}
  </section>
</div>
</body>
</html>
