  <div class="inner" id="footer">
    <div class="container is-fullhd">
      <div class="level">
        <div class="level-item level-f2">
          <div>
            <a href='/mqtt/start' class="state touch" target="_blank">[mqtt on]</a>
          </div>
        </div>
        <div class="level-item">
          <a href="/mqtt/stop" class="state touch" target="_blank">[mqtt off]</a>
        </div>
        <div class="level-item">
          <p class="state">[websocket]</p>
        </div>
        <div class="level-item level-f1">
          <p class="state">© shutofsky & zerthmonk</p>
        </div>
      </div>
    </div>
  </div>
