{% if context.state %}
{% for s in context.state %}
{% if s.current %}
  <style>
    #header, #footer {
      color: {{ s.fg_color }};
      background-color: {{ s.bg_color }};
    }
  </style>
{% endif %}
{% endfor %}
{% endif %}
<div class="inner" id="header">
  <div class="container is-fullhd">
    <div id="header_menu" class="level">
      <div class="level-left">
        <div class="level-item has-text-centered">
          <a class="menu" href="/">HOME</a>
        </div>
        <div class="level-item has-text-centered">
          <a class="menu" href="/admin">ADMIN</a>
        </div>
        <div class="level-item has-text-centered">
          <a class="menu" href="{% url 'log-records' %}">LOG</a>
        </div>
      </div>
      {% if request.get_full_path == "/" %}
      <div class="level-right">
        {% include 'alert_state.html' %}
      </div>
      {% endif %}
    </div>
  
  </div>
</div>
