<!-- OK, here's we learning Django Forms the hard way. close your eyes. -->
<!-- TODO: purge it with cleansing fire -->

{% extends "base.html" %}
{% block title %} SKABEN interface {% endblock %}
{% block content %}
<div class="container is-fullhd">
  <div class="inner columns">
    <div class="inblock column">
      <section class="accordions">
        
        {% if context.locks %}
        {% include 'locks_menu.html' %}
        {% endif %}

        {% if context.terms %}
        {% include 'terms_menu.html' %}
        {% endif %}
        <!--
        {% if context.dumbs %}
        {% include 'others_menu.html' %}
        {% endif %}
        -->
        
      </section>
    </div>
    <div class="inblock column">
      <div id="log_wrapper">
      <div class="col-header">
        <div class="level">
          <div class="level-item level-left">
            <p class="sk_heading">
              <i class="fas fa-history fa-lg"></i>
              лог последних событий </p>
          </div>
          <div class="level-item level-right">
            <a class='sk_heading'
               href="{% url 'log-records' %}"
              id="btn">[просмотреть лог отдельно]</a>
          </div>
        </div>
      </div>
      <div id="message_log">
      {% for record in context.log %}
        <div class="message_msg">
          {{ record.human_time }}> "{{ record.message }}"
        </div>
      {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
