    <div id="lock-details-{{dev.id}}" class="device-details">
        <form class="form-lock"
              id="form-lock-{{dev.id}}"
              action="{% url 'update-lock' dev.id %}"
              method="post"
              novalidate>
          {% csrf_token %}
        <section>
          <div class="control columns">
            <div class="column is-one-fifth">
              <label class="label descr-label">
                Описание
              </label>
            </div>
            <div class="column">
              <input title="Описание"
                     class="level-item input details-input"
                     name="descr"
                     type="text"
                     placeholder="{{dev.descr}}"
                     value="{{dev.descr}}">
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-fifth">
              <label class="label descr-label">Состояние</label>
            </div>
            <div class="column">
              <label class="checkbox inline-label">
                <input type="radio"
                       name="status"
                       value="opened"
                       {% if not dev.blocked and dev.opened %} checked
                       {% endif %}
                >
                открыт
              </label>
              <label class="checkbox inline-label">
                <input type="radio"
                       name="status"
                       value="closed"
                       {% if not dev.blocked and not dev.opened %} checked
                       {% endif %}
                >
                закрыт
              </label>
              <label class="checkbox inline-label">
                <input type="radio"
                       name="status"
                       value="blocked"
                       {% if dev.blocked %} checked {% endif %}
                >
                заблокирован
              </label>
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-third">
              <label class="label descr-label is-centered"
                     title="через сколько секунд после открытия будет закрыт замок">
                Время закрытия
              </label>
            </div>
            <div class="column">
              <input title="Время закрытия"
                     class="level-item input details-input"
                     name="timer"
                     type="number"
                     maxlength="3"
                     placeholder="{{dev.timer}}"
                     value="{{dev.timer}}"
                     style="width: 5rem;"
              >
            </div>
          </div>
          <div class="control">
            <label class="checkbox inline-label">
              <input type="checkbox"
                     name="sound"
                     {% if dev.sound %} checked {% endif %} >
              Звук активирован
            </label>
          </div>
        </section>
          <hr class="details-hr has-background-grey-light">
            <div class="permissions">
              {% for card in dev.cards %}
              <div class="columns is-vcentered">
                <div class="column is-one-quarter">
                  <p class="sk_heading">
                    {{ card.card_id.position }}
                    {{ card.card_id.surname }}
                  </p>
                </div>
                <div class="column">
                  <div class="columns">
                  {% for state in context.state %}
                  <div class="column has-text-centered"
                       style="background-color: {{ state.bg_color }};
                              color: {{ state.fg_color }}">
                    <input type="checkbox"
                           name="state-{{ card.id }}"
                           value="{{state.id}}"
                           {% if state.id is 1 %}
                           title="white status cannot be unchecked"
                           onclick="return false;"
                           {% endif %}
                           {% if state.id in card.state_list or state.id == 1 %}
                             checked
                           {% endif %}
                           >
                  </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          <hr class="details-hr has-background-grey-light">
        <footer>
          <div class="level">
            <div class="control level-item level-left">
            <label class="checkbox has-text-danger">
              <input type="checkbox"
                     name="override"
                     {% if dev.override %} checked {% endif %} >
              <span class="details-override">РУЧНОЕ УПРАВЛЕНИЕ</span>
            </label>
          </div>
            <div class="level-item level-right">
              <p id="resp-lock-{{dev.id}}" class="details-response"></p>
              <input class="button details-button is-success is-small"
                     type="submit"
                     value="Подтвердить">
            </div>
          </div>
        </footer>
        </form>
        <script>
        $(document).ready(function () {
            var $myForm = $('#form-lock-{{ dev.id }}');
            var $thisURL = $myForm.attr('action');
            var $respDiv = $("#resp-lock-{{ dev.id }}");
           
            $(document).on('click', '#toggle-on-lock-{{dev.id}}', function(e) {
              e.preventDefault();
            });
            
            $myForm.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize();
                handleAjaxPost($thisURL, $formData);
            });
           
            function handleAjaxPost(url, data) {
                $.ajax({
                    method: "POST",
                    url: url,
                    data: data,
                    success: handleFormSuccess,
                    error: handleFormError,
                })
            }
            
            function handleFormSuccess(data, textStatus, jqXHR){
                $respDiv.addClass('has-text-success');
                $respDiv.text(data.result);
                $respDiv.fadeIn(1);
                $respDiv.fadeOut(1200);
            }

            function handleFormError(data, textStatus, errorThrown){
                $respDiv.addClass('has-text-danger');
                $respDiv.text(textStatus);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
        </script>
      </div>
