{% load rest_framework %}
    <div id="mlock{{dev.id}}" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">изменить конфигурацию замка {{dev.id}} </p>
          <a class="delete" aria-label="close" rel="modal:close"></a>
        </header>
        <form
              action="/api/lock/update-partial/{{dev.id}}/"
              method="post"
              novalidate>
        {% csrf_token %}
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Описание</label>
              <div class="control">
                <input class="input"
                       name="descr"
                       type="text"
                       placeholder="{{dev.descr}}"
                       value="{{dev.descr}}">
              </div>
          </div>
          <div class="control">
            <label class="checkbox inline-label">
              <input type="checkbox"
                     name="sound"
                     {% if dev.sound %} checked {% endif %} >
              Звук активирован
            </label>
          </div>
          <div class="control">
            <label class="checkbox inline-label">
              <input type="checkbox"
                     name="opened"
                     {% if dev.opened %} checked {% endif %} >
              замок открыт
            </label>
          </div>
          <div class="control">
            <label class="checkbox inline-label">
              <input type="checkbox"
                     name="override"
                     {% if dev.override %} checked {% endif %} >
              OVERRIDE
            </label>
          </div>
          <hr>
          <label class="label">Связанный терминал</label>
          <div class="select">
            <select>
                {% for term in lockform.term_id %}
                  <option>{{ term }}</option>
                {% endfor %}
            </select>
          </div>
        </section>
        <footer class="modal-card-foot">
          <input class="button is-success" type="submit" value="Подтвердить">
          <a class="button" rel="modal:close">Cancel</a>
        </footer>
        </form>
      </div>
    </div>
<!-- Link to open the modal
  <p><a href="#ex1" rel="modal:open">Open Modal</a></p> -->