<article id='locks-menu' class="accordion is-active">
  <div class="col-header accordion-header level toggle">
    <div class="level-item level-left">
      <p class="sk_heading">
        <i class="fas fa-lock fa-lg"></i>
        <span>lock devices [{{ context.locks|length }}]</span>
      </p>
    </div>
    <div class="level-item level-right">
      <a><i class="fas fa-bars" aria-label="toggle"></i></a>
    </div>
  </div>
  <div class="accordion-body">
    <div class="accordion-content">
      {% for dev in context.locks %}
      <div class="level dev_li" id="lock-{{dev.id}}"
           {% if dev.offline %}
             style="background-color: rgba(200,200,200);"
             {% endif %}
          >
         <div class="level-item level-left">

            {% if dev.offline %}
               <i class="dev-status fas fa-exclamation-triangle
                         has-text-danger fa-lg"
                  title="device offline for {{ dev.offline }} seconds">
               </i>
            {% else %}
               <i class="dev-status fas fa-dot-circle has-text-success fa-lg"
                  title="device online"></i>
            {% endif %}

            {% if dev.sound %}
              <i class="dev-status dev-status-sm far fa-bell fa-lg"
                 title="sound on"></i>
            {% else %}
              <i class="dev-status dev-status-sm far fa-bell-slash fa-lg"
                 title="sound off"></i>
            {% endif %}

            {% if dev.blocked %}
                <i class="dev-status fas fa-minus-circle fa-lg"
                   title="blocked"></i>
            {% elif not dev.opened %}
              <i class="dev-status fas fa-lock fa-lg has-text-success"
                 title="locked"></i>
            {% else %}
              <i class="dev-status fas fa-unlock-alt fa-lg has-text-danger"
                 title="opened"></i>
            {% endif %}

          <div class="level-item dev_c_content">
              <p><span style="font-size:.75rem">[{{dev.uid}}]</span>
                  {{ dev.descr|truncatechars:30 }}
            </p>
          </div>
        </div>
        <div class="level-item level-right">
          {% if dev.override %}
          <p class="has-text-danger"
             style="font-weight: 800;
                    line-height: 2rem;
                    padding-top: .25rem;
                    padding-right: 2rem;
                    font-family: monospace;
                    font-size: 1rem;"
             title="manual override enabled">
            MANUAL
          </p>
          <i id="#toggle-on-lock-{{dev.id}}"
             class="dev-status dev-status_toggle fas fa-toggle-on fa-lg"
             title="fast toggle"></i>
          {% else %}
          <i id="#toggle-off-lock-{{dev.id}}"
             class="dev-status dev-status_toggle fas fa-toggle-off fa-lg"
             title="fast toggle"></i>
          {% endif %}
           <a class="button is-dark is-small details-toggle"
              href="#lock-details-{{dev.id}}">Edit details</a>
        </div>
      </div>
      {% include 'lock_details.html' %}
      {% endfor %}
    </div>
  </div>
</article>
