<article id='others-menu' class="accordion">
  <div class="col-header accordion-header level toggle">
    <div class="level-item level-left">
      <p>
        <i class="fas fa-lightbulb"></i>
        dumb (rgb) devices
        [{{ context.dumbs|length }}]
      </p>
    </div>
    <div class="level-item level-right">
      <a><i class="fas fa-bars" aria-label="toggle"></i></a>
    </div>
  </div>
  <div class="accordion-body">
    <div class="accordion-content">
      {% for dev in context.dumbs %}
      <div class="level dev_li">
        <div class="level-item level-left">
          <div class="dev_c_icon">
            <i class="fas fa-lock fa-lg"></i>
          </div>
          <div class="dev_c_content">
            {{ dev.descr|truncatechars:30  }}
          </div>
        </div>
        <div class="level-item level-right">
          <a class="button is-dark is-small">Edit</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</article>