<div id="term-details-{{dev.id}}" class="device-details">
      <form class="form-term"
              id="form-term-{{dev.id}}"
              action="{% url 'update-terminal' dev.id %}"
              method="post"
              novalidate>
          {% csrf_token %}
        <section>
          <div class="control columns">
            <div class="column is-one-quarter">
              <label class="label descr-label">
                Описание
              </label>
            </div>
            <div class="column">
              <input title="Описание"
                     class="level-item input details-input"
                     name="descr"
                     type="text"
                     placeholder="{{dev.descr}}"
                     value="{{dev.descr}}">
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-quarter">
              <label class="label descr-label">Состояние</label>
            </div>
            <div class="column">
              <label class="checkbox inline-label">
                <input type="radio"
                       name="status"
                       value="normal"
                       {% if not dev.blocked and not dev.hacked %} checked
                       {% endif %}
                >
                готов к работе
              </label>
              <label class="checkbox inline-label">
                <input type="radio"
                       name="status"
                       value="blocked"
                       {% if dev.blocked %} checked
                       {% endif %}
                >
                заблокирован
              </label>
              <label class="checkbox inline-label">
                <input type="radio"
                       name="status"
                       value="hacked"
                       {% if dev.hacked and not dev.blocked %} checked
                       {% endif %}
                >
                взломан
              </label>
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-quarter">
              <label class="label descr-label">Питание</label>
            </div>
            <div class="column">
              <label class="checkbox inline-label">
                <input type="checkbox"
                       name="powered"
                       value="true"
                       {% if dev.powered %}
                       checked {% endif %} >
                подключено
              </label>
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-quarter">
              <label class="label descr-label"
                     title="может быть изменен в админке">Режим взлома</label>
            </div>
            <div class="column">
              <label class="inline-label checkbox">
              <select name='hack_difficulty' class="details-input">
                {% for option in dev.difficulty_choices %}
                  <option value="{{ option.0 }}"
                    {% if dev.hack_difficulty|slugify == option.0|slugify %}
                      selected
                    {% endif %}
                  >
                    {{ option.1 }} ({{ option.0 }})
                  </option>
                {% endfor %}
                </select>
                стартовая длина слова
              </label>
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-quarter">
            </div>
            <div class="column is-vcentered">
              <input title="Попытки взлома"
                     class="input details-input"
                     name="hack_attempts"
                     type="number"
                     min="1"
                     max="99"
                     placeholder="3"
                     value="{{dev.hack_attempts}}"
                     style="width: 5rem; margin-right: 1rem;"
              >
              <label class="inline-label checkbox">
                  попыток взлома
              </label>
            </div>
          </div>
          <div class="control columns">
            <div class="column is-one-quarter">
            </div>
            <div class="column is-vcentered">
              <input title="Количество слов"
                     class="input details-input"
                     name="hack_wordcount"
                     type="number"
                     min="8"
                     max="32"
                     placeholder="3"
                     value="{{dev.hack_wordcount}}"
                     style="width: 5rem; margin-right: 1rem;"
              >
              <label class="inline-label checkbox">
                Количество слов
              </label>
            </div>
          </div>
          <hr class="details-hr has-background-grey-light">
        </section>
        <footer>
          <div class="level">
            <div class="control level-item level-left">
            <label class="checkbox has-text-danger">
              <input type="checkbox"
                     name="override"
                     {% if dev.override %} checked {% endif %} >
              <span class="details-override">РУЧНОЕ УПРАВЛЕНИЕ</span>
            </label>
          </div>
            <div class="level-item level-right">
              <p id="resp-term-{{dev.id}}" class="details-response"></p>
              <input class="button details-button is-success is-small"
                     type="submit"
                     value="Подтвердить">
            </div>
          </div>
        </footer>
        </form>
        <script>
        $(document).ready(function () {
            var $myForm = $('#form-term-{{ dev.id }}');
            var $thisURL = $myForm.attr('action');
            var $respDiv = $("#resp-term-{{ dev.id }}");

            $(document).on('click', '#toggle-on-term-{{dev.id}}', function(e) {
              e.preventDefault();
            });

            $myForm.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize();
                handleAjaxPost($thisURL, $formData);
            });

            function handleAjaxPost(url, data) {
                $.ajax({
                    method: "POST",
                    url: url,
                    data: data,
                    success: handleFormSuccess,
                    error: handleFormError,
                })
            }

            function handleFormSuccess(data, textStatus, jqXHR){
                $respDiv.addClass('has-text-success');
                $respDiv.text(data.result);
                $respDiv.fadeIn(1);
                $respDiv.fadeOut(1200);
            }

            function handleFormError(data, textStatus, errorThrown){
                $respDiv.addClass('has-text-danger');
                $respDiv.text(textStatus);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
        </script>
</div>
